@use "../../styles/mixins" as *;
.Container {
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}

.wrapPagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding-right: 5rem;
}

@media (max-width: 1280px) {
  .wrapPagination {
    flex-direction: column;
    padding-right: 0;
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .wrapPagination {
    flex: 1.6;
  }
}
@media (max-width: 912px) and (min-width: 820px) {
  .wrapPagination {
    flex: 2.5;
  }
}
@media (max-width: 1024px) and (min-width: 912px) {
  .wrapPagination {
    flex: 1.78;
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  .wrapPagination {
    flex: 1.98;
  }
}
@media (min-width: 1280px) {
  .wrapPagination {
    flex: 1.85;
  }
}
.wrapFooterPagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  flex: 1;
}

.leftPane {
  flex: 2;
  display: flex;
}

.rightPane {
  flex: 2;
  overflow: auto;
}

.centerPane {
  flex: 1/3;
  overflow: auto;
  align-content: center;
  margin-right: 2rem;
}

.wrapCenter {
  display: flex;
  // flex: 1;
  flex-direction: row;
  margin-top: 1rem;
}

.wrapRadioGroup {
  display: flex;
  flex-direction: row;
}

.moreInfor {
  display: flex;
  flex: 1.68;
  @media (max-width: 768px) {
    flex: 1;
  }
  @media (max-width: 912px) {
    flex: 1.2;
  }
  @media (max-width: 1280px) {
    flex: 1.41;
  }
}

.table {
  @include container;
  margin-top: 1rem;
}
