.Container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.CustomTabHeader {
  display: flex;
  border-bottom: 2px solid #e0e0e0;
}

.CustomTabButton {
  background-color: transparent;
  border: none; /* Đảm bảo không có viền */
  padding: 0.75rem 1.25rem;
  font-size: 1.05rem;
  color: #007bff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;

  outline: none; /* Rất quan trọng: Bỏ đường viền khi focus */
  -webkit-tap-highlight-color: transparent; /* Loại bỏ hiệu ứng highlight trên thiết bị di động khi chạm */

  &:hover {
    color: #0056b3;
  }

  /* Đảm bảo không có viền khi nút được nhấn hoặc được lấy nét */
  &:focus,
  &:active {
    border: none;
    outline: none;
  }

  &.active {
    color: white;
    font-weight: bold;
    &::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: white;
      border-radius: 2px;
    }
  }
}

.CustomTabContent {
  flex: 1;
  padding: 1rem;
}
.BannerBackground {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapHeader {
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
