@use "../../../../styles/mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 3rem 3rem 3rem 3rem;
}
.textHeader {
  font-size: 16px !important;
  text-transform: uppercase;
  text-align: center;
}
.formSearch {
  justify-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}
.status {
  display: flex;
  flex: 1;
  font-size: 12px !important;
}
.dropdow {
  height: 2.5rem !important;
}
.stack {
  display: flex;
  flex: 1;
}
.btnSave {
  align-self: flex-start;
  margin-bottom: 1rem !important;
}
.stickySearchBar {
  position: sticky;
  top: 0;
  background-color: #fff; // hoặc màu phù hợp với theme
  z-index: 10;
  padding: 8px 0;
}
