.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.loginBox {
  padding: 2rem;
  width: 100%;
  max-width: 360px;
}